@{
    ViewBag.Title = "About Us";
}
<link rel="stylesheet" href="~/Content/Site.css" />
<section class="about">
    <div class="about-img">
        <img src="~/assets/plan-2.jpg">
    </div>
    <div class="about-text">
        <small>ABOUT OUR COMPANY</small>
        <h2>We are an Airline Company</h2>
        <p>
            Welcome to Oceanic Airlines , where we are dedicated to providing the best travel experience for our passengers.
            Our mission is to offer safe, comfortable, and affordable flights across the globe. With a fleet of modern aircraft and
            exceptional customer service, we aim to make your journey as seamless and enjoyable as possible.
        </p>
        <label><input type="checkbox" checked>Leading airline with global coverage</label>
        <label><input type="checkbox" checked>Modern fleet equipped with the latest technology</label>
        <label><input type="checkbox" checked>Commitment to safety and security</label>
        <label><input type="checkbox" checked>Exceptional customer service from booking to landing</label>
        <a href="#">ABOUT US</a>
    </div>
</section>


